#new-window-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
}

#new-window-options button {
  height: 80px;
  width: 80px;

  font-size: 40px;

  outline: none;
  border: none;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#new-window-options button:hover, button.active {
  height: 90px;
  width: 90px;
  font-size: 60px;
  background-color: #191970;
}

#new-window-add-button {
  background-color: #191970 !important;
  opacity: .8;
}

#new-window-add-button:hover {
  opacity: 1;
}
