#search-display-verses-display-settings-container {
  padding: 0px 15px 15px 15px;
  position: relative;
  background-color: #FFFFFF;
  position: relative;
}

#search-display-verses-display-settings-container-secondary > div {
  display: inline-block;
}


#search-display-verses-container-primary {
  padding: 0px 15px 15px 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #FFFFFF;
  position: relative;
}

#search-display-verses-container-secondary {
  height: 354.5px;
  padding: 15px;

  border: 1px solid #DDD;

  overflow-x: hidden;
  overflow-y: scroll;
}

.search-result-display-verse p  {
  display: inline;
  font-size: 20px;
}

.search-result-display-verse p:nth-child(1)  {
  font-weight: bold;
  color: #191970;
}

.zoom-in-out-button {
  position: absolute;
  top: 5px;
  right: 35px;

  background-color: transparent;
  color: #FFFFFF;

  height: 30px;
  width: 30px;

  border-radius: 8px;

  opacity: .8;

  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: none;
  border: none;
}

.zoom-in-out-out-button-div {
  height: 15px;
  width: 15px;

  position: relative;
  top: -2px;
  right: -2px;

  border-top: #191970 4px solid;
  border-right: #191970 4px solid;
}

.zoom-in-out-in-button-div {
  height: 15px;
  width: 15px;

  position: relative;
  top: -10px;
  right: -10px;

  border-left: #191970 4px solid;
  border-bottom: #191970 4px solid;
}

.zoom-in-out-button:hover {
  opacity: 1;
}