#memorize-timer-container {
  background-color: #FFFFFF;

  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.memorize-timer-input {
  width: 110px;
  margin: 5px 10px;
}

#memorize-timer-display-container {
  display: flex;
  flex: 1;

  align-items: center;
}

.memorize-timer-display-value {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.memorize-timer-display-value > span {
  font-style: italic;
  font-size: 24px;
}

.memorize-timer-display-value > p {
  font-size: 24px;
}

#memorize-timer-state-options-container {
  display: flex;
  background-color: #FFFFFF;
  flex: 1;
}

#memorize-timer-state-options-container button {
  margin: 5px 5px;
  
  height: 40px;
  width: 40px;

  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2F2F7E;
  font-size: 20px;

  border-radius: 10px;

  box-shadow: 0px 0px 5px .5px #000000;
}

#memorize-timer-state-options-container button:hover {
  box-shadow: none;
}

#memorize-timer-state-options-container button:nth-of-type(1) {
  color: green;
}

#stop-button {
  height: 15px;
  width: 15px;
  background-color: red;
}

#memorize-timer-state-options-container button:nth-of-type(3) {
  border-bottom-left-radius: 10px;
  color: yellow;
}

#memorize-timer-state-options-container button:disabled {
  box-shadow: none;
  color: #DDDDDD;
}
