.window-navbar {
  height: 60px;
  background-color: #191970;
  color: #FFFFFF;
  position: relative;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

.window-navbar-close-button {
  background-color: transparent;
  color: red;
  font-size: 20pt;
  opacity: .8;
  border: none;
  border-radius: 50px;
}

.window-navbar-close-button:disabled {
  color: grey;
  opacity: .8;
}

.window-navbar-close-button:hover:disabled {
  opacity: .8;
}

.window-navbar-close-button:hover {
  opacity: 1;
}

.navbar-symbol h1 {
  font-size: 90px;
}

.content-window {
  background-color: #f2efeb;
  padding: 15px;
}

.window-content-loading {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  font-weight: 900;

  background-color: #FFFFFF;
  opacity: .8;

  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 1000;
}