.window-navbar {
  height: 60px;
  background-color: #191970;
  color: #FFFFFF;
  position: relative;
  padding: 0px 15px;
}

.navbar-symbol h1 {
  font-size: 90px;
}

.content-window {
  background-color: #f2efeb;
  padding: 15px;
}

.window-content-loading {
  height: 100vh;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  font-weight: 900;

  background-color: #FFFFFF;
  opacity: .8;

  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 1000;
}