#window-navbar {
  height: 60px;
  background-color: #191970;
  color: #FFFFFF;
  position: relative;
}

.navbar-symbol {
  position: absolute;
  bottom: -50px;
  left: 46.5%
}

.navbar-symbol h1 {
  font-size: 90px;
}

.content-window {
  background-color: #f2efeb;
  height: calc(100% - 60px);
}